body {
    background-color: black;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    color: #fff;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
p { 
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
}
a {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
h1 {
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-section {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    align-items: center;
    padding: 0px 25px 0px 25px;
}
.nav-menu {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
}
.logo {
    max-width: 225px;
    height: 100%;
}
.cta-button {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px 15px 40px;
    border-width: 3px!important;
  	border-style: solid!important;
  	border-image: 
	linear-gradient(45deg,#FF00B8 25%, #B11AFF 50%, #06E8FF 75%) 1;
	    border-radius: 0px!important;
	box-shadow: 0 0 0 0 rgba(255,0,184, 0.4);
    animation: button 1s infinite;
	  
    }
    @-webkit-keyframes button {
    0%  {
        -webkit-box-shadow: 0 0 0 0 #FF00B8;
        }
    70% {
        -webkit-box-shadow: 0 0 0 10px #B11AFF;
        }
    100% {
        -webkit-box-shadow: 0 0 0 0 #06E8FF;
        }
    }
    @keyframes button {
    0%  {
        -webkit-box-shadow: 0 0 0 0 #ff00b754;
        -moz-box-shadow: 0 0 0 0 #ff00b754;
        box-shadow: 0 0 0 0 #ff00b754;
        }
    70% {
        -moz-box-shadow: 0 0 0 20px #b31aff1f;
        ;
        box-shadow: 0 0 0 20px #b31aff1f;
        }
    100% {
        -moz-box-shadow: 0 0 0 0 #06e6ff41;
        box-shadow: 0 0 0 0 #06e6ff41;
        }
}

.separator {
    height: 4px;
    width: 100%;
    background: linear-gradient(45deg, #B11AFF 15%, #06E8FF 50%, #FF00B8 70%, #B11AFF 100%);
    background-size: 70% 150%;

    -webkit-animation: HeroHeading 5s ease infinite;
    -moz-animation: HeroHeading 5s ease infinite;
    -o-animation: HeroHeading 5s ease infinite;
    animation: HeroHeading 5s ease infinite;
}

@-webkit-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-moz-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-o-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
} 
.hero-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.above-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;   
}
.below-title {
    letter-spacing: 5px;
    padding-bottom: 40px;
    max-width: 800px;
    text-align: center;   
}
.small-text {
    font-size: 14px;
    text-align: center;
}
.who-we-are {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1200px;
    padding: 80px 25px 80px 25px;
}
.left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-right: 25px;
}
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 25px;
}
.image {
    max-width: 500px;
    height: auto;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px;
}
.features-wrap {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 50px;
}
.feature-card {
    width: 25%;
    padding: 30px;
    background-color: #ffffff1c;
    border-radius: 15px;
    margin: 20px;
}
.center-title {
    text-align: center;
    width: 650px;

}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px; 
}
.portfolio-wrap {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 50px;
}
.portfolio-card {
    width: 48%;
    margin-bottom: 30px;
    background-color: #ffffff1c;
    border-radius: 15px;
}
img.portfolio-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius:15px 15px 0px 0px;
}
img.portfolio-image:hover {
    object-position: bottom;
    transition-duration: 10s;
}
.portfolio-content {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;    
    justify-content: space-between;
}
.view-button {
    font-weight: 700;
    padding: 12px 35px 12px 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 1200px;
    padding: 80px 25px 80px 25px; 
}
.process-step {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1200px;
    padding: 50px 25px 50px 25px;
}
.heading-step {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.process-step.revert {
    flex-direction: row-reverse;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px;
}
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px;
}
.accordion {
    background-color: #ffffff1c;
    color: #fff;
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ffffff1c;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #ffffff1c;
    overflow: hidden;
  }