body {
    background-color: black;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    color: #fff;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
p { 
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
a {
    line-height: 1.4em;    
    text-decoration: none;
    color: #fff;
}
h1 {
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4em;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
    margin-block-start: 5px;
    margin-block-end: 5px;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-section {
    max-height: 1200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    align-items: center;
    padding: 0px 25px 0px 25px;
}
.nav-menu {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 20px;
}
.logo {
    max-width: 225px;
    height: 100%;
}
.cta-button {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px 15px 40px;
    border-width: 3px!important;
  	border-style: solid!important;
  	border-image: 
	linear-gradient(45deg,#FF00B8 25%, #B11AFF 50%, #06E8FF 75%) 1;
	    border-radius: 0px!important;
	box-shadow: 0 0 0 0 rgba(255,0,184, 0.4);
    animation: button 1s infinite;
	  
    }
    @-webkit-keyframes button {
    0%  {
        -webkit-box-shadow: 0 0 0 0 #FF00B8;
        }
    70% {
        -webkit-box-shadow: 0 0 0 10px #B11AFF;
        }
    100% {
        -webkit-box-shadow: 0 0 0 0 #06E8FF;
        }
    }
    @keyframes button {
    0%  {
        -webkit-box-shadow: 0 0 0 0 #ff00b754;
        -moz-box-shadow: 0 0 0 0 #ff00b754;
        box-shadow: 0 0 0 0 #ff00b754;
        }
    70% {
        -moz-box-shadow: 0 0 0 20px #b31aff1f;
        ;
        box-shadow: 0 0 0 20px #b31aff1f;
        }
    100% {
        -moz-box-shadow: 0 0 0 0 #06e6ff41;
        box-shadow: 0 0 0 0 #06e6ff41;
        }
}

.separator {
    height: 4px;
    width: 100%;
    background: linear-gradient(45deg, #B11AFF 15%, #06E8FF 50%, #FF00B8 70%, #B11AFF 100%);
    background-size: 70% 150%;

    -webkit-animation: HeroHeading 5s ease infinite;
    -moz-animation: HeroHeading 5s ease infinite;
    -o-animation: HeroHeading 5s ease infinite;
    animation: HeroHeading 5s ease infinite;
}

@-webkit-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-moz-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-o-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
} 
.hero-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}
.above-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;   
}
.below-title {
    letter-spacing: 5px;
    padding-bottom: 40px;
    max-width: 800px;
    text-align: center;   
}
.small-text {
    font-size: 14px;
    text-align: center;
}
.who-we-are {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1200px;
    padding: 80px 25px 80px 25px;
}
.left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-right: 25px;
}
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 25px;
}
.image {
    max-width: 500px;
    height: auto;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px;
}
.features-wrap {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
}
.feature-card {
    width: 24%;
    padding: 30px;
    background-color: #ffffff1c;
    border-radius: 15px;
    margin: 20px;
}
.center-title {
    text-align: center;
    max-width: 650px;

}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px; 
}
.portfolio-wrap {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
}
.portfolio-card {
    width: 48%;
    margin-bottom: 30px;
    background-color: #ffffff1c;
    border-radius: 15px;
}
img.portfolio-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius:15px 15px 0px 0px;
}
img.portfolio-image:hover {
    object-position: bottom;
    transition-duration: 10s;
}
.portfolio-content {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;    
    justify-content: space-between;
    align-items: center;
}
.view-button {
    font-weight: 700;
    padding: 12px 35px 12px 35px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    padding: 80px 25px 80px 25px; 
}
.process-step {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1200px;
    padding: 50px 25px 50px 25px;
}
.heading-step {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.process-step.reverse {
    flex-direction: row-reverse;
}
.left-column.reverse {
    align-items: end;
    text-align: right;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px;
}
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 80px 25px 80px 25px;
}
.accordion-box {
    max-width: 700px;
    margin-top: 50px;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    max-width: 700px;
    margin:0 auto;
}
.accordion {
    width: 100%;
    color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 30px;
    background: #ffffff1c;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordion-label:hover {
    background: #ffffff31;
}
.accordion-label::after {
    content: "\276F";
    max-width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 30px;
    color: #fff;
    background: #ffffff1c;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: #fff;
}
input:checked + .accordion-label {
    background: #ffffff1c;
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 30px;
}
h1, h2, .heading-step {
    background: linear-gradient(45deg, #B11AFF 15%, #06E8FF 40%, #FF00B8 60%, #B11AFF 85%);
    background-size: 130% 150%;

    -webkit-animation: HeroHeading 5s ease infinite;
    -moz-animation: HeroHeading 5s ease infinite;
    -o-animation: HeroHeading 5s ease infinite;
    animation: HeroHeading 5s ease infinite;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
}

@-webkit-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-moz-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@-o-keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}
}
@keyframes HeroHeading {
    0%{background-position:0% 90%}
    50%{background-position:100% 11%}
    100%{background-position:0% 90%}

}
footer {
        width: 100%;
        display: flex;
        background: #ffffff1c;
        flex-direction: column;
        align-items: center;
}
.footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    padding: 100px 25px 50px 25px;
    justify-content: space-between;
}
.footer-column {
    max-width: 25%;
    display: flex;
    flex-direction: column;    
}
li {
    list-style: none;
    padding: 5px 0px;
}
ul {
    padding: 0px;
}
.footer-tittle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.footer-column.large {
    padding-right: 50px;
}
.brand {
    padding: 20px 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1025px) {
    .nav-column, .button-column {
        display: none;
    }
    .hero-section, .who-we-are, .features, .process-step, .process-step.reverse {
        flex-direction: column;
        align-items: center;
        max-width: 800px;
    }
    .left-column, .right-column, .left-column.reverse {
        width: 100%;
        padding: 0px;
        align-items: center;
        text-align: center;
        padding-top: 30px;
    }
    h1 {
        font-size: 58px;
    }
    .below-title {
        max-width: 600px;
    }
    .above-title {
        font-size: 16px;
    }
    h2, .heading-step {
        font-size: 30px;
    }
    h3, .accordion-label{
        font-size: 18px;
    }
    .feature-card {
        width: 35%;
        margin: 10px;
    }       
    .footer-wrapper {
        padding-top: 50px;
    }
}
@media only screen and (max-width: 1025px) {
    h1 {
        font-size: 45px;
    }
    h2, .heading-step {
        font-size: 27px;
    }
    .feature-card {
        width: 100%;
    }
    .portfolio-card {
        width: 100%;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-column {
        max-width: 100%;
        padding-top: 20px;
    }
    .image {
        max-width: 325px;
    }
    .below-title {
        letter-spacing: 1px;
    }
}